.foodMenuContainer{
    width: 90%;
    margin: 0 auto;
}

.foodMenuContent{
    width: 100%;
    height: 100%;
}

.foodMenuHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodMenuHeader h2{
    font-size: 40px;
}

.foodMenuTopTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodMenuDivisor {
    flex-grow: 1;
    height: 2px;
    width: 40px;
    border-bottom: 2px solid #feaf39;
    margin: 0 10px;
}

.foodMenuTopTitle p{
    color: #feaf39;
    font-size: 20px;
}

.foodMenuNavbar{
    display: flex;
    justify-content: center;
}

.foodMenuNavigator{
    border-bottom: 1px solid grey;
    padding: 20px;
}

.foodMenuDishes{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}