.bookATableContainer{
    display: flex;
}

.videoBookATable{
    position: relative;
    height: 100%;
    min-height: 500px;
    width: 50%;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url('https://themewagon.github.io/restoran/img/video.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playBookATable{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.formContainer{
    background-color: #0f172b;
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-form {
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  input, select, textarea {
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  